@*@model IEnumerable<PieShop.Models.Pie>*@
@model PiesListViewModel

@*<h1>@ViewBag.CurrentCategory</h1>*@
<h1>@Model.CurrentCategory</h1>

@foreach (var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="" />
            <div class="caption">
                <h2 class="pull-right">@pie.Name</h2>
                <h3>
                    <a>@pie.Price.ToString("c")</a>
                </h3>
                <p>@pie.Category.CategoryName</p>
            </div>
        </div>
    </div>
}